@model TaxiGomelProject.Models.Call

@{
    ViewData["Title"] = "Создание";
}

<h1>Создание</h1>

<h4>Вызов</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CallTime" class="control-label"></label>
                <input asp-for="CallTime" class="form-control" />
                <span asp-validation-for="CallTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPosition" class="control-label"></label>
                <input asp-for="StartPosition" class="form-control" />
                <span asp-validation-for="StartPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPosition" class="control-label"></label>
                <input asp-for="EndPosition" class="form-control" />
                <span asp-validation-for="EndPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateId" class="control-label"></label>
                <select asp-for="RateId" class ="form-control" asp-items="ViewBag.RateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class ="form-control" asp-items="ViewBag.CarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DispatcherId" class="control-label"></label>
                <select asp-for="DispatcherId" class ="form-control" asp-items="ViewBag.DispatcherId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
